.container {
  width: 100%;
  margin: auto;
  text-align: center;
}

.container1 {
  width: 100%;
  margin: auto;
  text-align: center;
}

.container2 {
  width: 100%;
  margin: auto;
  text-align: center;
}

.container3 {
  width: 100%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #5a616d;
}

h1 {
  margin: 20px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #56cc4e;
}

p {
  font-size: 2rem;
  color: #f8e641;
  font-family: 'Indie Flower', cursive;
}

.player {
  color: #46c4ff;
}
img {
  width: 60%;
}

.winner {
  text-align: center;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
/* v.2021.12.12a */
